{% extends 'admin/base.html.twig' %}
{% block content %}
    <p>
        <a href="{{ path('unit_create') }}" class="btn btn-success">Add measurement unit</a>
    </p>

    <table class="table table-hover, central-text-in-block">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Designation</th>
            <th scope="col" class="central-text-in-block">Actions</th>
        </tr>
        </thead>

        <tbody>
        {% for unit in units %}
            <tr>
                <td>
                    {{ unit.id }}
                </td>

                <td>
                    {{ unit.name }}
                </td>

                <td>
                    {{ unit.designation }}
                </td>

                <td class="central-text-in-block">
                    <a href="{{ path('unit_edit', {'id': unit.id}) }}" class="btn btn-warning">Edit</a>
                    <a href="{{ path('unit_show', {'id': unit.id}) }}" class="btn btn-info">Show</a>
                    <a href="{{ path('unit_delete', {'id': unit.id}) }}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
